.navbar {
    width: 100vw;
    background-color: #313131;
    box-shadow: inset 0px -8px 11px -8px #000000;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

ng-template {
    all: initial;
}

.center-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}


.left-nav, .right-nav {
    width: 20vw;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.center-img {
    height: 8vh;
}

.btn {
	cursor: pointer;
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    text-decoration: none;
    border-radius: 0px;
    letter-spacing: 3px;
    $time: .35s;
    -webkit-transition: all $time ease-in-out;
       -moz-transition: all $time ease-in-out;
        -ms-transition: all $time ease-in-out;
         -o-transition: all $time ease-in-out;
            transition: all $time ease-in-out;
    padding: 14px 21px;
    font-size: 13px;
    line-height: 25px;
    text-transform: uppercase;
    border: solid 2px #fff;
    background: transparent;
    color: #fff;
}

.btn:hover {
    background: #fff;
    color: #1f1f1f;
}

.auth-btn {
    margin-left: 0px;
    margin-right: 40px;
    padding: 10px 16px;
    font-size: 12px;
    line-height: 5px;
}

.logged-in-h2 {
    color: rgb(195, 195, 195);
    font-size: 18px;
    margin: 0px 20px 4px 0px;
    font-weight: 500;
    width: 10vw;
}

.logged-in-name {
    color: white;
    font-size: 18px;
    font-weight: 500;
    width: 10vw;
    margin-right: 20px;
}

.logged-in-name:hover {
    color: rgb(195, 195, 195);
    cursor: pointer;
}

.log-out {
    white-space: nowrap;
}

.logged-in-div {
    width: max-content;
}

@media only screen and (max-width: 1550px){
    .logged-in-h2 {
        display: none;
    }
    .logged-in-name {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 1500px){
    .btn{
        font-size: 10px;
        padding: 10px 16px;
        line-height: 15px;
    }
    .auth-btn {
        padding: 8px 12px;
        font-size: 10px;
        line-height: 5px;
        white-space: nowrap;
    }
    .logged-in {
        font-size: 14px;
        margin-top: 6px;
        font-weight: 500;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1100px){
    .btn{
        margin-left: 12px;
        margin-right: 12px;
    }
    .right-nav {
        flex-direction: column;
        justify-content: center;
    }
    .right-nav .btn {
        margin: 6px 0px 6px 0px;
    }
    .logged-in-name {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 700px){
    .btn{
        font-size: 8px;
        padding: 8px 8px;
        line-height: 8px;
    }
    .auth-btn {
        font-size: 6px;
        padding: 6px 6px;
        line-height: 5px;
        white-space: nowrap;
    }
    .logged-in {
        font-size: 10px;
        margin-top: 4px;
        font-weight: 500;
        margin-right: 20px;
    }
    .center-img {
        height: 7vh;
    }
    .logged-in-name {
        font-size: 10px;
        margin-right: 0px;
    }
}